html, body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 5px;
}
canvas {
  display: block;
}

.bg-blue{
  background-color: #337ab7;
}

.btn{
  border-radius: 5px;
  background-color: #337ab7;

}
.btn:hover{
  background-color: #7fafda;
}